* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Inter', sans-serif;
    text-align: center;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.5rem;
}

h5 {
    font-size: 2.2rem;
}

h6 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}


/**** HEADER ****/

.header {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    height: 5rem;
    background-color: aqua;
    padding: 4rem 8rem;
    position: fixed;
    width: 100%;
    z-index: 999;
}


/**** HERO ****/

main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

section {
    padding: 8rem 10rem;
}

.hero {
    background-color: beige;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 100vh;
}


/**** SERVICES ****/

.services {
    background-color: #ccc4ff;
    height: 100vh;
}


/**** FEATURES ****/

.features {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 8rem;
    align-content: center;
    background-color: cadetblue;
}

.col {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.col1 {
    background-color: brown;
    padding: 8rem 10rem;
}

.col3 {
    background-color: brown;
    padding: 8rem 10rem;
}

.col3 {
    background-color: brown;
    padding: 8rem 10rem;
}